.page {
    height: 100vh;
    text-transform: uppercase;
    font-family: 'Consolas';
    background: radial-gradient(circle at 50% -200em, transparent, #233448);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.wrapper {
    width: 1750px;
    margin: 0 auto;
}